.team_detail {
    &__card {
        display: grid;
        grid-template-rows: auto 1fr auto;
        align-items: start;
        height: 100%;
        &:hover  > .team_detail__image {
            filter: grayscale(0) !important;
        }
    }
    &__image {
        display: block;
        aspect-ratio: 4 / 5;
        width: 100%;
        object-fit: cover;
        object-position: center;
        max-width: 300px;
        margin-inline: auto;
        filter: grayscale(1);
        transition: filter var(--transition);
        margin-bottom: 0.5rem;
    }
    &__name {
        font-size: var(--fs-600);
        margin-bottom: 0;
        text-align: center;
    }
    &__role {
        font-size: var(--fs-200);
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 1rem;
    }
    .wp-block-button__link {
        align-self: flex-end;
        justify-self: center;
    }
}