.team_detail {
    // &__row {
    //     &:hover {
    //         .team_detail__image {
    //             filter: grayscale(0);
    //         }
    //     }
    // }
    &__image {
        display: block;
        aspect-ratio: 4 / 5;
        width: 100%;
        object-fit: cover;
        object-position: center;
        max-width: 300px;
        margin-inline: auto;
        filter: grayscale(1);
        transition: filter var(--transition);
    }
    &__name {
        font-size: var(--fs-600);
        margin-bottom: 0;
    }
    &__role {
        font-size: var(--fs-300);
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    &__meta {
        display: flex;
        gap: 1rem;
    }
}